.weather > table {
     margin-bottom: 1.5rem;
    width: 100%;
    border-collapse: collapse;
}

.weather > table > tr > td:first-child {
    border: 1px solid black;
    text-align: center;
}

.weather > table > tr > td {
    border: 1px solid black;
    padding: 8px;
}

