footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.section contentfooter .default-content-wrapper {
        padding: 0 3rem;
}

.section contentfooter .default-content-wrapper p{
        width: 20%;
}
.section contentfooter .default-content-wrapper ul {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    float: inline-end;
    list-style-type: none;
    margin: 0;
    padding-bottom: 1.25rem;
    padding-left: 0;
}

.section contentfooter .default-content-wrapper ul > li {
        flex: 0 0 50%;
}



