.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  margin-right: 8px;
  font-size: 0.8em;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  margin-left: 1em;
}

.dropdown.open > .dropdown-menu {
  display: block;
}
