.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  margin-right: 8px;
  font-size: 0.8em;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  margin-left: 1em;
}

.dropdown.open > .dropdown-menu {
  display: block;
    top: 5.7rem;
    /* width: 18.75rem; */
    z-index: 9999;
    border-radius: 0 0 .5rem .5rem;
    margin-top: 1.5rem;
    max-height: calc(75vh - var(--mega-nav-offset-y, 0rem));
    overflow: auto;
    position: fixed;
    /* display: block; */
    background: #fff;
    border-radius: .25rem;
    border-top: none;
    /* -webkit-box-shadow: 0 .125rem 20.313rem -.313rem rgba(0, 0, 0, .07), 0 20.313rem 20.063rem -.313rem rgba(0, 0, 0, .04); */
    box-shadow: 0 .125rem 20.313rem -.313rem rgba(0, 0, 0, .07), 0 20.313rem 20.063rem -.313rem rgba(0, 0, 0, .04);
    display: flow-root;
    padding: .5rem;
    margin: 1.5rem 0px 0;
    padding: 0;
}
.default-content-wrapper {
    display: flex;
}

.default-content-wrapper > p > picture > img {
    width: 90%;
    height: 2.563rem;
    margin-right: 1rem;
}
