.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  margin-right: 8px;
  font-size: 0.8em;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  margin-left: 1em;
}

.dropdown.open > .dropdown-menu {
  display: block;
    top: 5.7rem;
    /* width: 18.75rem; */
    z-index: 9999;
    border-radius: 0 0 .5rem .5rem;
    margin-top: 1.5rem;
    max-height: calc(75vh - var(--mega-nav-offset-y, 0rem));
    overflow: auto;
    position: fixed;
    /* display: block; */
    background: #fff;
    border-radius: .25rem;
    border-top: none;
    /* -webkit-box-shadow: 0 .125rem 20.313rem -.313rem rgba(0, 0, 0, .07), 0 20.313rem 20.063rem -.313rem rgba(0, 0, 0, .04); */
    box-shadow: 0 .125rem 20.313rem -.313rem rgba(0, 0, 0, .07), 0 20.313rem 20.063rem -.313rem rgba(0, 0, 0, .04);
    display: flow-root;
    padding: .5rem;
    margin: 1.5rem 0px 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown.open > .dropdown-menu > li{
    padding: 10px;
}

.section.xffooter-container .default-content-wrapper {
    display: flex;
}

.section.xffooter-container .default-content-wrapper > p {
    width: 8%;
    height: 2.563rem;
    margin-right: 1rem;
}

.section.xffooter-container .default-content-wrapper > ul {   
    display: flex;
    height: 100%;
    align-items: center;
    width: 67%;
    flex-grow: 1;
    padding-left: 0;
}

.section.xffooter-container .default-content-wrapper > ul > li {   
    display: flex;
    line-height: 1;
    margin-bottom: 0;
    padding: 1rem 7px .7rem;
    position: relative;
    align-items: center;
    color: #161616;
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: .875rem;
}

.section.xffooter-container .default-content-wrapper > p > strong {
    font-size: .875rem;
    margin-top: .4rem;
    padding: .8rem 0 .5rem;
}

